substitutions:
  # ESPHome minimum version (kept in sync with esphome.version)
  ESPHOME_MIN_VERSION: !include ../../../../esphome.version

esphome:
  name: "sensasoil_v${HARDWARE_VERSION_UNDERSCORE}"
  friendly_name: "SensaSoil v${HARDWARE_VERSION}"
  name_add_mac_suffix: true
  platformio_options:
    board_build.flash_mode: dio # Required for ESP32-C3
  min_version: "${ESPHOME_MIN_VERSION}"
  project: 
    name: "tierralive.sensasoil"
    version: "${FIRMWARE_VERSION}"
  includes:
    - "<improv.h>"
  libraries:
    - improv=https://github.com/rapsssito/extended-improv-sdk-cpp
  on_boot:
    - priority: 260
      then:
        # Wait 30s for WiFi connection
        - delay: 30s
        - if:
            condition:
              - not:
                - wifi.connected
            then:
              - script.execute: on_wifi_disconnect
    - priority: 190
      then:
        - script.execute: mqtt_setup
    - priority: -100
      then:
        - script.wait: mqtt_setup
        - script.execute: main_script

esp32:
  board: esp32-c3-devkitm-1
  variant: ESP32C3
  flash_size: "4MB"
  framework:
    type: esp-idf
    sdkconfig_options:
      CONFIG_COMPILER_OPTIMIZATION_SIZE: y
      CONFIG_ESPTOOLPY_FLASHSIZE_4MB: y

script:
  - id: main_script
    then:
      - script.execute: refresh_sensors_script
      - script.wait: refresh_sensors_script
      - if:
          condition:
            - lambda: ! return esp_reset_reason() == ESP_RST_UNKNOWN || esp_reset_reason() == ESP_RST_POWERON || esp_reset_reason() == ESP_RST_USB || esp_reset_reason() == ESP_RST_JTAG;
          then:
            # Start BLE server if waked up by power on
            - script.execute: execute_ble_server
            - script.wait: execute_ble_server
      - lambda: ! id(last_exec_error) = ${ERROR_NO};
      - script.execute: safe_send_to_deep_sleep
