substitutions:
  # ESPHome minimum version (kept in sync with esphome.version)
  ESPHOME_MIN_VERSION: !include ../../../../esphome.version

esphome:
  name: "sensasoil-v${HARDWARE_VERSION_FLAT}"
  friendly_name: "SensaSoil v${HARDWARE_VERSION}"
  name_add_mac_suffix: true
  platformio_options:
    board_build.flash_mode: dio # Required for ESP32-C3
  min_version: "${ESPHOME_MIN_VERSION}"
  project: 
    name: "tierralive.sensasoil"
    version: "${FIRMWARE_VERSION}"
  includes:
    - "<improv.h>"
  libraries:
    - improv=https://github.com/rapsssito/extended-improv-sdk-cpp
  on_boot:
    - priority: -100
      then:
        - script.execute: start_script

mdns:
  disabled: true

esp32:
  board: esp32-c3-devkitm-1
  variant: ESP32C3
  flash_size: "4MB"
  framework:
    type: esp-idf
    sdkconfig_options:
      CONFIG_COMPILER_OPTIMIZATION_SIZE: y
      CONFIG_ESPTOOLPY_FLASHSIZE_4MB: y

script:
  - id: start_script
    then:
      # Start BLE server if waked up by power on
      - lambda: |-
          if (esp_reset_reason() == ESP_RST_UNKNOWN || esp_reset_reason() == ESP_RST_POWERON || esp_reset_reason() == ESP_RST_USB || esp_reset_reason() == ESP_RST_JTAG) {
            id(execute_ble_server)->execute();
          }
      # Network
      - script.execute: network_setup
      # If network fails, this script will be stopped by the disconnect scripts
      - script.wait: network_setup
      # OTA
      - script.execute: check_ota
      # TODO: What to do when ota fails?
      - script.wait: check_ota
      # MQTT
      - script.execute: mqtt_setup
      # If mqtt fails, this script will be stopped by the disconnect scripts
      - script.wait: mqtt_setup
      # Check if we need to do the initial connection setup (only if the data is not persisted)
      - script.execute: perform_initial_connection
      - script.wait: perform_initial_connection
      # Sensors
      - script.execute: refresh_sensors_script
      - script.wait: refresh_sensors_script
      # Wait in case the BLE server is still running
      - script.wait: execute_ble_server
      - lambda: |-
          id(last_exec_error) = ${ERROR_NONE};
          id(mqtt_initial_connection_setup) = false;
          id(deep_sleep_wait_mqtt)->execute();
