deep_sleep:
  id: deep_sleep_component

script:
  - id: send_to_deep_sleep
    parameters:
      delay_ms: uint32_t
      sleep_duration_ms: uint32_t
    then:
      # Send to sleep after a delay
      # For example, used to avoid wasting 15mins trying to connect to MQTT or WiFi
      - delay: !lambda return delay_ms;
      - deep_sleep.enter:
          id: deep_sleep_component
          sleep_duration: !lambda return sleep_duration_ms;
