substitutions:
  OTA_URL: "https://github.com/Rapsssito/tierralive-firmware/releases/download/@tierralive-firmware/sensasoil-v${HARDWARE_VERSION_FLAT}@latest"

http_request:
  verify_ssl: true
  useragent: SensaSoil_${HARDWARE_VERSION}/${FIRMWARE_VERSION}
  watchdog_timeout: 60s
  timeout: 50s
  buffer_size_rx: 1024
  buffer_size_tx: 1024

ota:
  - platform: http_request
    on_end:
      - lambda: ! id(mqtt_initial_connection_setup) = true;
    on_error:
      # TODO: Update error
      - script.execute: start_script

script:
  - id: check_ota
    then:
      # Call HTTP request to check for new firmware version
      - http_request.get:
          url: "${OTA_URL}/sensasoil-v${HARDWARE_VERSION_FLAT}.version.txt"
          capture_response: true
          max_response_buffer_size: 10
          on_response:
            then:
              - if:
                  condition:
                      - lambda: |-
                          if (response->status_code >= 200 && response->status_code < 400) {
                            std::string remote_version = body.c_str();
                            remote_version.erase(remote_version.find_last_not_of(" \n\r\t")+1);
                            return remote_version != "${FIRMWARE_VERSION}";
                          }
                          return false;
                  then:
                    # Delay so the HTTP request and sockets are properly closed
                    - delay: 1s
                    - script.execute: ota_update
                    - script.wait: ota_update

# TODO: Add error for OTA check failure
  - id: ota_update
    then:
      # Call OTA HTTP update
      - ota.http_request.flash:
          url: "${OTA_URL}/sensasoil-v${HARDWARE_VERSION_FLAT}.ota.bin"
          md5_url: "${OTA_URL}/sensasoil-v${HARDWARE_VERSION_FLAT}.ota.bin.md5"
