substitutions:
  OTA_URL: "https://github.com/Rapsssito/tierralive-firmware/releases/download/@tierralive-firmware/sensasoil-v${HARDWARE_VERSION_FLAT}@latest"
  CHECK_OTA_INTERVAL: "250" # Number of boots between OTA checks

globals:
  - id: ota_check_count
    type: uint8_t
    # TODO: Enable when ESPHome supports it
    # restore_value: RTC
    restore_value: yes
    initial_value: "0"

http_request:
  verify_ssl: true
  useragent: SensaSoil_${HARDWARE_VERSION}/${FIRMWARE_VERSION}
  watchdog_timeout: 60s
  timeout: 50s
  buffer_size_rx: 1024
  buffer_size_tx: 1024

# TODO: Handle safe mode (which should be just check for OTA)
ota:
  - platform: http_request
    on_begin:
      - light.turn_off: led_status
    on_end:
      - lambda: ! id(mqtt_initial_connection_setup) = true;
    on_error:
      - lambda: |-
          id(last_exec_error) = ${ERROR_OTA};
          // OTA failed, we can assume the network is working since we were able to reach the server
          // so let the code proceed to set up MQTT and the rest of the system
          // We keep the check_ota count reset so the next check will be in CHECK_OTA_INTERVAL boots

script:
  - id: check_ota
    then:
      - lambda: |-
          // Only check for OTA every X wakeups
          if (id(ota_check_count) < ${CHECK_OTA_INTERVAL}) {
            id(ota_check_count)++;
            id(check_ota)->stop();
            return;
          }
          id(ota_check_count) = 0;
      # Call HTTP request to check for new firmware version
      - http_request.get:
          url: "${OTA_URL}/sensasoil-v${HARDWARE_VERSION_FLAT}.version.txt"
          capture_response: true
          max_response_buffer_size: 10
          on_response:
            then:
              - if:
                  condition:
                      - lambda: |-
                          if (response->status_code >= 200 && response->status_code < 400) {
                            std::string remote_version = body.c_str();
                            remote_version.erase(remote_version.find_last_not_of(" \n\r\t")+1);
                            return remote_version != "${FIRMWARE_VERSION}";
                          }
                          return false;
                  then:
                    # Delay so the HTTP request and sockets are properly closed
                    - delay: 1s
                    - script.execute: ota_update
                    - script.wait: ota_update

  - id: ota_update
    then:
      # Call OTA HTTP update
      - ota.http_request.flash:
          url: "${OTA_URL}/sensasoil-v${HARDWARE_VERSION_FLAT}.ota.bin"
          md5_url: "${OTA_URL}/sensasoil-v${HARDWARE_VERSION_FLAT}.ota.bin.md5"
