substitutions:
  OTA_URL: "https://github.com/Rapsssito/tierralive-firmware/releases/tag/@tierralive-firmware/sensasoil-v${HARDWARE_VERSION_FLAT}@latest"

http_request:
  verify_ssl: false
  useragent: SensaSoil_${HARDWARE_VERSION}/${FIRMWARE_VERSION}
  watchdog_timeout: 60s

ota:
  - platform: http_request
    on_end:
      - lambda: ! id(mqtt_initial_connection_setup) = true;
    on_error:
      - script.execute: main_script

script:
  - id: check_ota
    then:
      # Call HTTP request to check for new firmware version
      - http_request.get:
          url: "${OTA_URL}/sensasoil-v${HARDWARE_VERSION_FLAT}.version.txt"
          capture_response: true
          max_response_buffer_size: 64
          on_response:
            then:
              - lambda: |-
                  std::string remote_version = body.c_str();
                  remote_version.erase(remote_version.find_last_not_of(" \n\r\t")+1);
                  if (remote_version != FIRMWARE_VERSION) {
                    id(ota_update)->execute();
                  }
  - id: ota_update
    then:
      # Call OTA HTTP update
      - ota.http_request.flash:
          url: "${OTA_URL}/sensasoil-v${HARDWARE_VERSION_FLAT}.ota.bin"
          md5_url: "${OTA_URL}/sensasoil-v${HARDWARE_VERSION_FLAT}.ota.bin.md5"
