.public_sensor: &public_sensor
  update_interval: never
  qos: 1
  subscribe_qos: 1

text_sensor:
  - platform: template
    id: firmware_version
    name: "Firmware version"
    icon: mdi:chip
    entity_category: "diagnostic"
    <<: *public_sensor
  - platform: template
    id: hardware_version
    name: "Hardware version"
    icon: mdi:memory
    <<: *public_sensor
    entity_category: "diagnostic"
  - platform: template
    id: last_update_id
    name: "Last update ID"
    icon: mdi:message-badge
    entity_category: "diagnostic"
    <<: *public_sensor
