substitutions:
  # MQTT prefix
  MQTT_PREFIX: "ss"
  MQTT_DEFAULT_ADDRESS: "192.168.1.68"
  MQTT_DEFAULT_PORT: "1883"
  # Versions for OTA
  FIRMWARE_VERSION: "1.0.3"
  # Public device states
  SENSASOIL_STATE_DEEP_SLEEP: "0"
  SENSASOIL_STATE_TX_DATA: "1"
  SENSASOIL_STATE_BLE_SERVER: "2"
  # Public connection error states
  SENSASOIL_STATE_ERROR_WIFI: "111"
  SENSASOIL_STATE_ERROR_MQTT: "112"
  # Public error states
  SENSASOIL_STATE_ERROR_PANIC: "123"
  SENSASOIL_STATE_ERROR_WDT: "124"
  SENSASOIL_STATE_ERROR_BROWNOUT: "125"
  SENSASOIL_STATE_ERROR_EFUSE: "126"
  SENSASOIL_STATE_ERROR_PWR_GLITCH: "127"
  SENSASOIL_STATE_ERROR_CPU_LOCKUP: "128"
  # Improv BLE
  IMPROV_SERVICE_UUID: "00467768-6228-2272-4663-277478268000"
  IMPROV_STATUS_UUID: "00467768-6228-2272-4663-277478268001"
  IMPROV_ERROR_UUID: "00467768-6228-2272-4663-277478268002"
  IMPROV_RPC_COMMAND_UUID: "00467768-6228-2272-4663-277478268003"
  IMPROV_RPC_RESULT_UUID: "00467768-6228-2272-4663-277478268004"
  IMPROV_CAPABILITIES_UUID: "00467768-6228-2272-4663-277478268005"
  # ExtendedImprov commands
  E_IMPROV_MQTT_CHANGE_SETTINGS_COMMAND_ID: "1"
  E_IMPROV_FACTORY_RESET_COMMAND_ID: "2"
  E_IMPROV_MQTT_VIEW_SETTINGS_COMMAND_ID: "3"
  E_IMPROV_WIFI_VIEW_SETTINGS_COMMAND_ID: "4"
  # Custom BLE
  CUSTOM_BLE_SERVICE_UUID: "3b351f04-1db6-49f3-b155-cb5d18c80000"
  CUSTOM_BLE_INFO_UUID: "3b351f04-1db6-49f3-b155-cb5d18c80001"
  # Internal setup states
  SETUP_STATE_INIT: "0"
  SETUP_STATE_WIFI_CONFIG: "1"
  SETUP_STATE_MQTT_CONFIG: "2"
  # Internal error codes
  ERROR_NO: "0"
  ERROR_WIFI: "1"
  ERROR_MQTT: "2"
