globals:
  # INTERNAL #
  - id: power_peripherals_time
    type: unsigned long
    restore_value: no
    initial_value: "0"

output:
  - platform: ledc
    id: led_status_output_internal
    pin: GPIO0

light:
  - platform: monochromatic
    qos: 1
    subscribe_qos: 1
    id: led_status
    name: "Status LED"
    output: led_status_output_internal
    restore_mode: ALWAYS_OFF
    effects:
      - pulse:
          # Blink 5 times every second
          name: "mqtt_disconnect_effect"
          transition_length: 100ms
          update_interval: 100ms
          min_brightness: 0%
          max_brightness: 100%
      - pulse:
          # Blink once every second
          name: "wifi_disconnect_effect"
          transition_length: 250ms
          update_interval: 1s
          min_brightness: 0%
          max_brightness: 100%
      - pulse:
          # Pulse slowly every 4 seconds
          name: "manual_ble_server_effect"
          transition_length: 2s
          update_interval: 2s
          min_brightness: 40%
          max_brightness: 100%

binary_sensor:
  - platform: gpio
    id: is_charging_internal
    use_interrupt: true
    pin:
      number: GPIO6
      mode: 
        input: True
        pullup: True
      inverted: True
    internal: True
  - platform: gpio
    id: factory_reset_internal_button
    use_interrupt: True
    pin:
      number: GPIO9
      mode:
        input: True
        pullup: True
      inverted: True
    internal: True
    filters:
      - delayed_on: 15s
      - delayed_off: 10ms
    on_press:
      then:
        - button.press: factory_reset_button
  - platform: template
    id: is_battery_charging
    name: "Charging"
    device_class: BATTERY_CHARGING
    icon: mdi:battery-charging
    qos: 1
    subscribe_qos: 1
    on_state:
      then:
        - if:
            condition:
              - ble.enabled
            then:
              - ble_server.characteristic.notify:
                  id: ble_battery_status_char

switch:
  - platform: gpio
    id: power_peripherals
    pin: GPIO10
    icon: mdi:electric-switch
    name: "Power peripherals"
    restore_mode: ALWAYS_OFF
    qos: 1
    subscribe_qos: 1
    entity_category: "config"
    on_turn_on:
      then:
        - lambda: ! id(power_peripherals_time) = millis();
  - platform: template
    id: prevent_deep_sleep
    icon: mdi:sleep-off
    name: "Prevent deep sleep"
    optimistic: True
    restore_mode: ALWAYS_OFF
    qos: 1
    subscribe_qos: 1
    entity_category: "config"

button:
  - platform: template
    id: refresh_sensors
    name: "Refresh sensors"
    icon: mdi:refresh
    qos: 1
    subscribe_qos: 1
    on_press:
      - script.execute: refresh_sensors_script
  - platform: template
    id: send_to_sleep
    name: "Send to sleep"
    icon: mdi:sleep
    qos: 1
    subscribe_qos: 1
    on_press:
      - script.execute: safe_send_to_deep_sleep
  - platform: factory_reset
    id: factory_reset_button
    name: "Factory reset"
    qos: 1
    subscribe_qos: 1
